.footer {
    padding: 28px 30px;
    background-color: #64960a;
    font-family:  Arial, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.navItem {
    font-size: 14px;
    margin: 0 10px;
}

@media screen and (max-width: 660px) {
    .nav {
        padding: 0;
    }
}