@import '../../theme.scss';

.footer {
    padding: 28px 30px;
    background-color: $main-green;
    font-family:  Arial, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.navItem {
    font-size: 14px;
    margin: 0 10px;
}

.copy {
    margin: 20px 0 0 10px;
    color: $text-light;
    font-size: 14px;
}

@media screen and (max-width: 660px) {
    .nav {
        padding: 0;
    }
}