.contentWrapper {
    width: 70%;
    min-width: 800px;
    margin: 0 auto 100px;

    .header {
        color: #000;
        margin-top: 30px;
        display: block;
    }

    .tiles {
        display: flex;
        gap: 15px;
        margin-bottom: 50px;
    }
}

