.wrapper {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 500px 1fr auto;
    grid-template-areas: 
        "topImage topImage topImage"
        ". cards ."
        ". story .";
}

.topImage {
    grid-area: topImage;

}

.cards {
    grid-area: cards;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .card {
        width: auto;

        &:first-of-type {
            margin-right: 22px;
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 660px) {
        flex-direction: column;

        .card:first-of-type {
            margin-right: 0;
            margin-bottom: 22px;
        }
    }
}


.story {
    grid-area: story;
    margin-bottom: 40px;
}