@import '../../../theme.scss';

.cardWrapper {
    display: flex;
    margin: 0 30px 20px 0;
}

.icon {
    width: 50px;
    font-size: 50px;
}

.text {
    margin-left: 15px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

