.wrapper {
    border-radius: 6px;
    border: 1px solid #D3D3D3;
    padding: 6px;
    margin-bottom: 14px;

    .item {
        margin-bottom: 0;
    }

    .input {
        margin: 0 6px;
        border: 0;
        border-bottom: 1px solid #000;
        font-size: 16px;
        text-align: center;
    }
}
