@import '../../../theme.scss';

.list {
    display: flex;
    flex-direction: column;
}

.title {
    text-transform: uppercase;
    font-size: 20px;
    color: $text-accent;
    margin-bottom: 12px;
}

.item {
    margin-bottom: 8px;
}
