.pageWrapper {
    margin-bottom: 100px;
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(270px, 26%) auto;
    grid-template-areas:
    "header header"
    "filters events";
}

.headerWrapper {
    grid-area: header;
    text-align: center;
    margin-bottom: 30px;
}

.filtersWrapper {
    grid-area: filters;
    padding: 0 14px;
}

.eventsWrapper {
    grid-area: events;
    padding: 0 14px;
}