@import '../../../theme.scss';

.wrapper {
    display: block;
    position: relative;
    height: 250px;
    width: 24%;
    min-width: 200px;
    border: 1px solid #868686;
    border-radius: 4px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 10%;
    right: 0%;
    padding: 0 10px;
    color: $text-light;
    text-align: center;
    width: 100%;
    width: fit-content;
    text-align: right;

    &.darkText {
        color: #181818
    }
}

.tiles {
    display: flex;
    gap: 15px;
    margin-bottom: 70px;
}

