.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}

.main {
    grid-area: main;
    margin: 0 auto;
    width: 70%;
    min-width: 800px;
}

.footer {
    grid-area: footer;
}

.header {
    grid-area: header;
}