.wrapper {
    color: black;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    padding: 12px;
    margin-bottom: 14px;
    box-shadow: none;
    transition: box-shadow 0.4s;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 
        "header header"
        "left right";

    &:hover {
        box-shadow: 0px 0px 7px 1px #D3D3D3;
    }
}

.header {
    grid-area: header;
    margin-bottom: 10px;
}

.left {
    grid-area: left;
    padding-left: 4px;
}

.right {
    grid-area: right;
}

.text {
    margin-right: 2px;
}

.spacer {
    margin-right: 6px;
}

.icon {
    margin-right: 8px;
    font-size: 20px;
}
