.wrapper {
    border-radius: 6px;
    border: 1px solid #D3D3D3;
    padding: 6px;
    margin-bottom: 14px;

    .item {
        margin-bottom: 0;
        color: #000;

        &.disabled {
            color: #808080;
        }
    }
}
